<h3 class="col-md-8" align="center">Create Vote</h3>
<div class="col-md-8">
<%= render 'form', pageant: @pageant %>
</div>



<!--Side content-->
<div class="well well-lg login_new col-md-4">
    SMS Votes
</div>